@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-center home">
    <div class="col">
        <h1 class="display-4 mt-5 welcome">Welcome<br />
        to the<br/>
        MVC Movie App</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>

